<!DOCTYPE html>
<html>
<head>
    <title>pChat &mdash; Private Chatroom</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/app.css")" />
</head>
<body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">pChat - @ViewBag.currentUser.name</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <!--Navigation Bar-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <aside class="chat__main visible-md visible-lg">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class=" panel panel-default users__bar">
                                <div class="panel-heading users__heading">
                                    Conctacts (@ViewBag.allUsers.Count)
                                </div>
                                <div class="__no__chat__">
                                    <p>Select contact to chat with</p>
                                </div>
                                <div class="panel-body users__body">
                                    <ul id="contacts" class="list-group">
                                        @foreach(var user in ViewBag.allUsers)
                                        {
                                            <a class="user__item contact-@user.id" href="#" data-contact-id="@user.id" data-contact-name="@user.name">
                                                <li>
                                                    <div class="avatar">
                                                        <img src="@Url.Content("~/Content/no-avatar.png")" />
                                                    </div>
                                                    <span>@user.name</span>
                                                    <div class="status-bar"></div>
                                                </li>
                                            </a>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

            </div>
            <div class="chat__type__body">
                <div class="chat__type">
                    <textarea id="msg_box" placeholder="Type your message"></textarea>
                    <button class="btn btn-primary" id="sendMessage">Send</button>
                </div>
            </div>
            <div class="chat__type">
                <span id="typerDisplay"></span>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Content/app.js")"></script>
    <script>
        let currentContact = null;
        let newMessageTpl = 
            `<div>
                <div id="msg-{{id}}" class="row __chat__par__">
                    <div class="__chat__">
                        <p>{{body}}</p>
                        <p class="delivery-status">Delivered</p>
                    </div>
                </div>
            </div>`;
        //Selecting contact to chat 
        $('.user_item').click(function (e) {
            e.preventDefault();

            currentContact = {
                id: $this.data('contact-id'),
                name: $this.data('contact-name'),
            };

            $('#contacts').find('li').removeClass('active');
            $('#contacts .contact-' + currentContact.id).find('li').addClass('active');
            getchat(currentContact.id);

            
        });

        //Get chat data
        function getChat(contact_id)
        {
            $.get("contact/conversations" + contact_id)
                .done(function (resp) {
                    var chat_data = resp.data || [];
                    loadChat(chat_data);
                });
        }

        function loadChat(chat_data)
        {
            chat_data.forEach(function (data) {
                displayMessage(data);
            });

            $('.chat_body').show();
            $('.__no__chat__').hide();
        }

        function displayMessage(message_obj)
        {
            const msg_id = message_obj.Id;
            const msg_body = message_obj.Message;

            let template = $(newMessageTpl).html();

            template = template.replace("{{id}}", msg_id);
            template = template.replace("{{body}}", msg_body);

            template = $(template);

            if (message_obj.SenderId)
        }
            

    </script>
</body>
</html>